h2,h3{
    font-weight: 500;
}
p,span{
color: rgb(53, 53, 53);
}


#process_div_A{
/* border: 1px solid blue; */
width: 40%;
margin: auto;
margin-bottom: 50px;
margin-top: 100px;
display: flex;
justify-content: space-between;
text-decoration: none;
color: black;
font-family: Trade Gothic W01 Light,Arial,sans-serif;
}
#process_div_A>a{
    text-decoration: none;
    color: black; 
}

#container_A{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
}

#user_details_A{
/* border: 1px solid green; */
width: 40%;

}
#form_A{
    /* border: 1px solid orange; */
    width: 100%;
}

#form_A>div{
    /* border: 1px solid rgb(173, 19, 173); */

    display: flex;
    flex-direction: column;
    margin-bottom: 20px ;
}

#form_A>div>label{
    margin-bottom: 10px;
}
input,label,select{
    padding: 5px 10px 5px 10px;
}



#user_details_A+div{
    /* border:1px solid green; */
    width: 40%;
}


#product_details_A{
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    max-height: 600px;
    width:100%;
    margin-bottom: 50px;
    overflow-y: scroll;
}

#product_details_A>h3{
    /* border: 1px solid black; */
    text-align: center;
}


#product_details_A>div{
/* border: 1px solid rgb(225, 99, 9);    */
border-bottom: 1px solid gray;
width: 100%;
display: flex;
margin-top: 20px;
}
#product_details_A>div>img{
    /* border: 1px solid rgb(225, 99, 9); */
    width: 25%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
 }
 #product_details_A>div>div>h3{
    margin-top: 0px;
 }
 #product_details_A>div>div>p{
margin-top: -15px;
 }
 #product_details_A>div>div>span{
    /* border: 1px solid black; */
    margin-top: -20px;
 }


#user_address_A{
    /* border: 1px solid green;   */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
}

#submit_A{
    padding: 10px 20px 10px 20px;
    background-color: rgb(35, 34, 34);
    color: white;
    cursor: pointer;
    font-size: 12px;
}
#submit_A:hover{
    background-color: rgb(227, 227, 227);
    color: black;
    border: none;
}
#submit_A+a{
    font-size: 12px;
    color: black;
    margin-left: 20px;
}


#orderDetails_A>div{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 20px;
    padding: 20px;
}

.detailamount,.total{
    /* border: 1px solid black; */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc{
    /* border: 1px solid black; */
   margin-top: -20px;
   font-size: 12px;
}
.desc+p{
    font-weight: bold;
    margin-top: 30px;
}
.total{
    border-top: 2px solid gray;
    margin-top: 40px;
    padding-top: 20px;
    font-weight: bold;
}

