#probtn_h{
    padding:5px;
    color: white;
    background-color: black;
    cursor: pointer;
}

#categoryD,#sortByNmae,#sortByPrice{
    padding:5px;
    background-color:black;
    color: white;
    font-weight: bold;
    margin-bottom:5px;
}